.container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ddde11;
}
.Hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.image {
  width: 257px;
  height: 443px;
  object-fit: cover;
}
.container1 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.text {
  font-size: 3rem;
  font-family: Nunito;
}
.text01 {
  margin-top: var(--dl-space-space-unit);
  font-family: Nunito;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.text02 {
  font-family: Nunito;
  font-weight: 600;
}
.text03 {
  font-family: Nunito;
  font-weight: 600;
}
.BtnGroup {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.navlink {
  color: #ddde11;
  transition: 0.3s;
  font-family: Nunito;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.navlink:hover {
  transform: scale(1.02);
}
.button {
  transition: 0.3s;
  font-family: Nunito;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
}
.button:hover {
  transform: scale(1.02);
}
.text04 {
  color: #ddde11;
  font-size: 20px;
  font-family: Nunito;
  line-height: 1.5;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  letter-spacing: 10%;
  padding-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
  background-color: #000000;
}
.Text07 {
  height: 100%;
  font-size: 20px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  font-family: Nunito;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.link {
  display: contents;
}
.image1 {
  right: 26px;
  width: 50px;
  bottom: 68px;
  position: absolute;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .Hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .image {
    order: 2;
    height: 600px;
  }
  .container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .text {
    text-align: center;
  }
  .text04 {
    text-align: left;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .Text07 {
    text-align: left;
    padding-left: var(--dl-space-space-fourunits);
  }
  .image1 {
    right: 56px;
    bottom: 55px;
  }
}
@media(max-width: 767px) {
  .Hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .image {
    width: 80%;
  }
  .text {
    text-align: center;
  }
  .text01 {
    text-align: left;
  }
  .text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .Text07 {
    text-align: justify;
  }
  .image1 {
    right: 38px;
    bottom: 56px;
  }
}
@media(max-width: 479px) {
  .Hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .text {
    text-align: left;
  }
  .text01 {
    text-align: left;
  }
  .BtnGroup {
    flex-direction: column;
  }
  .button {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .text04 {
    font-size: 20px;
  }
  .Text07 {
    font-size: 20px;
    text-align: justify;
    font-family: Nunito;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .image1 {
    right: 7px;
    bottom: 35px;
  }
}
