.home-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ddde11;
}
.home-hero {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  max-width: var(--dl-size-size-maxwidth);
  min-height: 80vh;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-image {
  width: 257px;
  height: 443px;
  object-fit: cover;
}
.home-container1 {
  display: flex;
  margin-left: var(--dl-space-space-twounits);
  flex-direction: column;
}
.home-text {
  font-size: 3rem;
  font-family: Nunito;
}
.home-text01 {
  margin-top: var(--dl-space-space-unit);
  font-family: Nunito;
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.home-text02 {
  font-family: Nunito;
  font-weight: 600;
}
.home-text03 {
  font-family: Nunito;
  font-weight: 600;
}
.home-btn-group {
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
}
.home-navlink {
  color: #ddde11;
  transition: 0.3s;
  font-family: Nunito;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: var(--dl-color-gray-black);
}
.home-navlink:hover {
  transform: scale(1.02);
}
.home-navlink1 {
  transition: 0.3s;
  font-family: Nunito;
  margin-left: var(--dl-space-space-unit);
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
}
.home-navlink1:hover {
  transform: scale(1.02);
}
.home-text04 {
  color: #ddde11;
  font-size: 20px;
  font-family: Nunito;
  line-height: 1.5;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  letter-spacing: 10%;
  padding-bottom: var(--dl-space-space-twounits);
  text-transform: uppercase;
  background-color: #000000;
}
.home-text07 {
  height: 100%;
  font-size: 20px;
  align-self: flex-start;
  margin-top: var(--dl-space-space-twounits);
  text-align: justify;
  font-family: Nunito;
  margin-bottom: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-threeunits);
}
.home-link {
  display: contents;
}
.home-image1 {
  width: 50px;
  align-self: flex-end;
  object-fit: cover;
  text-decoration: none;
}
@media(max-width: 991px) {
  .home-hero {
    padding: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-image {
    order: 2;
    height: 600px;
  }
  .home-container1 {
    align-items: center;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-twounits);
  }
  .home-text {
    text-align: center;
  }
  .home-text04 {
    text-align: left;
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-text07 {
    text-align: left;
    padding-left: var(--dl-space-space-fourunits);
  }
  .home-image1 {
    right: 56px;
    bottom: 55px;
  }
}
@media(max-width: 767px) {
  .home-hero {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-image {
    width: 80%;
  }
  .home-text {
    text-align: center;
  }
  .home-text01 {
    text-align: left;
  }
  .home-text04 {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-text07 {
    text-align: justify;
  }
  .home-image1 {
    right: 38px;
    bottom: 56px;
  }
}
@media(max-width: 479px) {
  .home-hero {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-container1 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .home-text {
    text-align: left;
  }
  .home-text01 {
    text-align: left;
  }
  .home-btn-group {
    flex-direction: column;
  }
  .home-navlink1 {
    margin-top: var(--dl-space-space-unit);
    margin-left: 0px;
  }
  .home-text04 {
    font-size: 20px;
  }
  .home-text07 {
    font-size: 20px;
    text-align: justify;
    font-family: Nunito;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
  .home-image1 {
    right: 0px;
    bottom: 0px;
  }
}
